.navbar{
    justify-content: flex-start;
}

.tamanho-1{
    font-size: small
}

.tamanho-2{
    font-size: x-large
}

.tamanho-3{
    font-size: xx-large
}

#menu::after {
    display:none;
}

.dropdown-submenu-item:hover > .dropdown-submenu {
    display: inline-block;
    width: 60vw;
}

.dropdown-submenu-item:hover > .dropdown-submenu > .submenu-item{    
    display: inline-block;
}

#grafico {
    width: 100%;
    height: auto;
}